{
    "profiles": {
        "ProfileName1": {
            "email": "your-email@example.com",
            "username": "your-email@example.com",
            "password": "your-password-here",
            "service": "gmail",
            "last_folder": "INBOX"
        },
        "ProfileName2": {
            "email": "another-email@example.com",
            "username": "another-email@example.com",
            "password": "your-password-here",
            "service": "proton",
            "last_folder": "All Mail"
        }
    }
}

